services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file: .env
    networks:
      - asset-guardian-network

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    env_file: .env
    depends_on:
      - db
    networks:
      - asset-guardian-network

  frontend:
    build: ./frontend
    ports:
      - "8501:8501"
    env_file: .env
    depends_on:
      - backend
    networks:
      - asset-guardian-network

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx:/etc/nginx/conf.d
      - /etc/letsencrypt:/etc/letsencrypt:ro # 인증서 경로 공유 (읽기 전용)
    depends_on:
      - frontend
      - backend

volumes:
  postgres_data:


networks:
  asset-guardian-network:
    driver: bridge
